---
export const prerender = true;
import { sanityClient } from 'sanity:client';

export async function getStaticPaths() {
  const stories = await sanityClient.fetch(`*[_type == "story" && defined(slug.current)]`);
  return stories.map((story) => {
      return {
        params: {
          slug: story.slug.current,
        },
    };
  });
}

const { slug } = Astro.params;
const { title } = await sanityClient.fetch(`*[_type == "story" && slug.current == $slug][0]`, { slug });
---

<html>
<body>
  <a href="/">Back</a>
  <h1>{title}</h1>
</body>
</html> 