---
import BaseLayout from '../layouts/BaseLayout.astro';
import TagCloud from '../components/TagCloud.astro';
---
<BaseLayout title="404 not found | mostly true"<
  
  <article class="stack">
    <h1>404 – Not Found</h1>
    <hr/>
      <p>
        Someone (probably me) mis-typed or renamed a URL without a redirecty.
        Much apologies! I'll fix it after a walk.
      </p>

      <img
        src="/assets/eagle.jpg"
        alt="404 - eagle walking angrily on a mental health walk"
        style="border: 1px solid black;"
      />

      <p>
        In the meantime, you can browse the tags and see if you can find what
        you're looking for. Or maybe it really wasn't what you're looking for,
        after all...
      </p>

      <hr />

      <p></p>

      <TagCloud />
    </article>
</BaseLayout> 