---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <Fragment slot="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | mostly true</title>
  </Fragment>
  <h1>About</h1>
  <p>This site is a collection of stories, notes, and experiments by Virgil Eaton. It is dedicated to the old web, the weird web, and the joy of sharing ideas.</p>
</BaseLayout> 