---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <Fragment slot="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>guestbook | mostly true</title>
  </Fragment>
  <h1>guest book</h1>
  <p>Subscribe to the mostly true newsletter for occasional updates and new stories. (Newsletter signup coming soon!)</p>
</BaseLayout> 