---
import { getCollection, render } from 'astro:content';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import StoryList from '../components/StoryList.astro';
const stories = await getCollection('stories');
const sortedStories = stories.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const [newest, ...others] = sortedStories;
let Content = null;
if (newest) {
  const rendered = await render(newest);
  Content = rendered.Content;
}
---
<BaseLayout title="mostly true | virgil eaton">
  <article class="stack">

    <div id="home-container">
        <section class="home-intro">
          <img
            src="/assets/virgil.jpg"
            alt="The auther, Virgil, with a small beard and casual suit"
            class="intro-image"
          />
          Bienvenue, mes amis! I've always been fascinated by the idea of the Unreliable
          Narrator, and how memories and time change the stories you're <i
            >sure</i
          >
          are true. In a way, any writing is only mostly true. Originally this started
          as a place to only tell stories, but I'm also using it as a digital garden for
          my thoughts and ideas. Now... Read on!
        </section>
      </div>
  {newest && (
    <section class="featured-post">
      <div class="featured-date">{new Date(newest.data.date).toLocaleString('en-GB', { day: 'numeric', month: 'short', year: 'numeric' })}</div>
      <div class="featured-title">
        {newest.data.title}
        <a href={`/stories/${newest.id}/`} class="permalink" title="Permalink to this story">
          <img src="/spiral.svg" alt="permalink" style="width:0.5em;height:0.5em;vertical-align:middle;margin-left:0.3em;" />
        </a>
      </div>
      
      <div class="stack">
        {Content && <Content />}
      </div>
      {Array.isArray(newest.data.tags) && newest.data.tags.length > 0 && (
        <div class="tag-list">
          {newest.data.tags.map(tag => (
            <span class="tag">{tag}</span>
          ))}
        </div>
      )}
    </section>
  )}
  <h2>All Stories</h2>
  <StoryList stories={others} />
  </article>
</BaseLayout> 