---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout 
  title="links | mostly true"
  description="A curated collection of interesting links and resources shared by Virgil Eaton."
>
  <article class="stack">
    <h1>links</h1>
    <hr/>
    <p>
    [NOTE: I'm just begining to collect all the links I have scattered around. This will grow day by day.] A collection of interesting things I've found on the web. These are sites, articles, 
      and resources that have influenced my thinking, made me laugh, or simply caught my attention.
    </p>

    <h3>people i know</h3>
    <ul>
      <li><a href="https://eatonphil.com">Phil Eaton</a> - My brother's technical blog. One great post is <a href="https://notes.eatonphil.com/2024-08-24-obsession.html">"Obsession"</a>.</li>
      <li><a href="https://gypsybytrade.wordpress.com">Gypsy by Trade</a> - An old friend who keeps popping up in random places to say hi.</li>
    </ul>

    <h3>blogs i enjoy reading</h3>
    <ul>
      <li><a href="https://www.legalnomads.com">Legal Nomads</a> - This is a blog about being a digital nomad, but more importantly, it's the first story I read about <a href=https://www.legalnomads.com/lumbar-puncture/">dealing with a new disability</a> that truly resonated with my experience, and that made me feel less alone.</li>
      <li><a href="https://sive.rs">Derek Sivers</a> - I vastly enjoy his writing, and I'm currently reading his amazing book "Useful or True?". It fits in with my site's theme.</li>
      <li><a href="https://sidebar.io">Sidebar</a> - A newsletter, not a blog. Well worth subscribing to for five curated links a day about technology or other interesting morsels.</li>
      <li><a href="http://manuelmoreale.com">Manuel Moreale</a> - Apparently the inspiration for many bloggers, and a thoughtful writer. I took a few structural ideas from his site, like the archive below each page.</li>
    </ul>

    <h3>technology & development</h3>
    <ul>
      <li><a href="https://astro.build">Astro</a> - The framework this site is built with</li>
      <li><a href="https://colorffy.com">Colorffy</a> - Color tools for designing accessible sites.</li>
      <li><a href="https://utopia.fyi">Utopia CSS</a> - Great tips for hyper-responsive web designs without media queries. I love it.</li>
      <li><a href="https://www.a11yproject.com">A11y Project</a> - THE resource for learning about accessibility.</li>
      <li><a href="https://www.sustainablewebmanifesto.com">Sustainable Web Manifesto</a> - All about building eco-friendly websites.</li>
    </ul>

    <br/><br/>
  </article>
</BaseLayout> 