---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="links">
  <article class="stack">
    <h1>links</h1>
    <hr/>
    <p>
      A collection of interesting things I've found on the web. These are sites, articles, 
      and resources that have influenced my thinking, made me laugh, or simply caught my attention.
    </p>

    <h3>friends & people</h3>
    <ul>
      <li><a href="https://example.com">Friend's Blog</a> - A friend's personal site</li>
      <li><a href="https://example.com">Another Friend</a> - Another friend's site</li>
    </ul>

    <h3>writing & blogs</h3>
    <ul>
      <li><a href="https://example.com">Interesting Blog</a> - A blog I enjoy reading</li>
      <li><a href="https://example.com">Another Blog</a> - Another interesting site</li>
    </ul>

    <h3>technology & development</h3>
    <ul>
      <li><a href="https://astro.build">Astro</a> - The framework this site is built with</li>
      <li><a href="https://vercel.com">Vercel</a> - Where this site is hosted</li>
    </ul>

    <h3>resources & tools</h3>
    <ul>
      <li><a href="https://example.com">Useful Tool</a> - A tool I find helpful</li>
      <li><a href="https://example.com">Another Resource</a> - Another useful resource</li>
    </ul>

    <h3>books & reading</h3>
    <ul>
      <li><a href="https://example.com">Great Book</a> - A book I recommend</li>
      <li><a href="https://example.com">Another Book</a> - Another good read</li>
    </ul>

    <hr style="margin: 2em 0;" />
    
    <p>
      <em>
        Want to be added to this list? Drop me a line through the 
        <a href="/guestbook">guestbook</a> or send me a message. I'm always 
        looking for interesting things to read and people to connect with.
      </em>
    </p>
  </article>
</BaseLayout> 