---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout 
  title="now | mostly true"
  description="What Virgil Eaton is currently working on, reading, and thinking about."
>
  <article class="stack">
    <h1>now</h1>
    <hr/>
    <p>
      This is what I'm currently working on, reading, and thinking about. Inspired by <a href="https://nownownow.com">Derek Sivers' now page movement</a>.
    </p>
    
    <h3>currently working on</h3>
    <ul>
      <li>Learning some elements of digital game design, for fun (and profit?)</li>
      <li>Getting a solid wheelie on my chair so I can jump onto/off sidewalks and other obstacles (skateboard?).</li>
      <li>Heading to Italy for the first time, in two weeks!</li>
      <li>Learning more songs in French - I'm being largely influenced by the Quebecois neo-folk scene, which is probably ruining my French pronunciation.</li>
    </ul>

    <h3>currently reading</h3>
    <ul>
      <li>"The Bad Muslim Discount" by Syed M. Masood</li>
      <li>"Chokepoint Capitalism" by Rebecca Giblin and Cory Doctorow</li>
      <li>"The Anti-Ablist Manifesto" by Tiffany Yu</li>
    </ul>

    <h3>currently thinking about</h3>
    <ul>
      <li>Ethics in AI - My takeaway comes down to "Ethics are good, I mostly like them."</li>
      <li>How can I increase my French level? And what about Swiss German?</li>
    </ul>

    <p>In general, I'm continuing to learn how I can be myself in a wheelchair. So much of my history is based on adventure and climbing or running or walking... Now all of that is far more complicated.</p>

    <p>Often I respond to new things with a bit of rebellion even if I say "yes, our course!" This is no different. I'm not sure what I'm doing, but I'm doing it. I'm trying to maintain kindness and curiosity, and not immediately assume people are looking down at me or forgetting about me.</p>

    <p>Right now, this means giving my friends specific instructions about how to help me: don't touch without asking, or at least letting me know... Always take public transportation if possible because cars are much more painful... Try not to leave things in the doorway so I get trapped... And so forth. People need to keep being reminded, gently.</p>

    <h3>why?</h3>

    <h3>because kindness is punk as hell.</h3>

    <p>
      <em>Last updated: 14 julliet 2025. Vive la France!</em>
    </p>
  </article>
</BaseLayout> 