---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const stories = await getCollection('stories');
const sortedStories = stories.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<BaseLayout>
  <Fragment slot="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stories | mostly true</title>
  </Fragment>
  <h2>All Stories</h2>
  {sortedStories.map(story => (
    <div class="post">
      <div class="post-date">{new Date(story.data.date).toLocaleString('en-US', { month: 'short', year: 'numeric' })}</div>
      <div class="post-title"><a href={`/stories/${story.id}/`}>{story.data.title}</a></div>
      <div class="post-summary">{story.data.description}</div>
    </div>
  ))}
</BaseLayout> 