---
import { sanityClient } from 'sanity:client';
import BaseLayout from '../../layouts/BaseLayout.astro';
import StoryList from '../../components/StoryList.astro';
const stories = await sanityClient.fetch(`*[_type == "story" && !draft] | order(date desc)`);
---
<BaseLayout title="stories | mostly true" description="a collection of all stories on mostly true.">
  <h1>all stories</h1>
  <hr/>
  <StoryList stories={stories} />
</BaseLayout> 