---

---

<button
  id="back-to-top"
  class="back-to-top-button group"
  aria-label="Back to top of page"
  title="back to top"
  onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
  onkeydown="if(event.key === 'Enter' || event.key === ' ') { event.preventDefault(); window.scrollTo({top: 0, behavior: 'smooth'}); }"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="back-to-top-icon"
    aria-hidden="true"
    focusable="false"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="back-to-top-line"
    ></line>
    <polyline
      points="12 5 5 12 12 19"
      class="back-to-top-arrow"
    ></polyline>
  </svg>
  <span class="back-to-top-text">Back to top</span>
</button>
