<footer>
  <p>Copyright © 2125 Virgil Eaton. Steal my stories, not my words. This site uses privacy-first no-cookie tracking through <a href="https://www.goatcounter.com/" target="_blank" rel="noopener noreferrer">goatcounter.com</a>. <a href="/rss.xml">RSS</a></p>
</footer> 