---
const { prevPost, nextPost } = Astro.props;
---

<div class="post-navigation">
  {
    prevPost?.id ? (
      <a href={`/stories/${prevPost?.id}`} class="post-navigation-prev group">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="post-navigation-prev-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12" class="post-navigation-line" />
          <polyline
            points="12 5 5 12 12 19"
            class="post-navigation-prev-arrow"
          />
        </svg>
        <div class="post-navigation-title">{prevPost?.data.title}</div>
      </a>
    ) : (
      <div class="post-navigation-placeholder" />
    )
  }

  {
    nextPost?.id ? (
      <a href={`/stories/${nextPost?.id}`} class="post-navigation-next group">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="post-navigation-next-icon"
        >
          <line x1="5" y1="12" x2="19" y2="12" class="post-navigation-line" />
          <polyline
            points="12 5 19 12 12 19"
            class="post-navigation-next-arrow"
          />
        </svg>
        <div class="post-navigation-title">{nextPost?.data.title}</div>
      </a>
    ) : (
      <div class="post-navigation-placeholder" />
    )
  }
</div>
