---

---

<div class="what-next" style="margin-top: 2em;">
    <h3 style="margin-bottom: var(--s-1);">Enjoying this?</h3>
    <p>Let me know or send me a story via <a href="mailto:virgil@mostlytrue.life">email</a>. Send me your blog and I'll read it! Subscribe to my <a href="/newsletter">newsletter</a>. More of my stories are below. You can follow <a href="/rss.xml">my feed</a>, tip me a coffee on <a href="https://ko-fi.com/yakbrother">ko-fi</a>, or move on to my favorite <a href="/links">links</a>. Thanks for visiting!</p>
</div>