---

---

<div class="what-next" style="margin-top: 2em;">
    <h3 style="margin-bottom: var(--s-1);">Enjoying this?</h3>
    <p>Let me know or send me a story via <a href="mailto:virgil@mostlytrue.life">email</a> or my <a href="/guestbook">guestbook</a>. More of my stories are below. You can follow <a href="/rss.xml">my feed</a>, buy me coffee on <a href="https://ko-fi.com/virgileaton">ko-fi</a>, or move on to my favorite <a href="/links">links</a>. Thanks for your time here!</p>
</div>